<ion-header>
  <ion-toolbar color="primary">
    <ion-title>LashMaster Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" formControlName="email" placeholder="exemplo@email.com"></ion-input>
    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">
      Entrar
    </ion-button>
    
    <ion-button type="button" expand="block" color="secondary" (click)="register()">
      Criar Conta
    </ion-button>
  </form>
</ion-content>