/* Forçando a hierarquia do Dark Mode */
body.ion-palette-dark {
  --ion-color-primary: #ce93d8 !important;
  --ion-background-color: #121212 !important;
  --ion-text-color: #ffffff !important;

  /* Força os componentes (como o ion-content e itens) a usarem o fundo escuro */
  --ion-item-background: #1e1e1e !important;
  --ion-card-background: #1e1e1e !important;
  
  /* Se o ion-content ainda ficar branco, isso resolve: */
  background: var(--ion-background-color) !important;
}